{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}
{% block body %}

<body class="example-wrapper">

<img class="imj" src="{{ asset('images/boisson.png') }}" alt = "Symfony"/>
<script src="{{ asset('bundles/acme/js/loader.js') }}"></script>
</body>

    {{ form(form) }}
{% endblock %}